@keyframes pokemonGet {
    0% {
        transform: rotate(0deg);
        left: 0;
    }

    20% {
        transform: rotate(-30deg);
        left: -10px;
    }

    40% {
        transform: rotate(0deg);
        left: 0;
    }

    60% {
        transform: rotate(30deg);
        left: 10px;
    }

    80% {
        transform: rotate(0deg);
        left: 0;
    }
}

.loader {
    text-align: center;
    position: fixed;
    z-index: 10001;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.loader.show {
    visibility: visible;
}

.loader img {
    opacity: 1;
    width: 100px;
    display: inline-block;
    position: relative;
    top: calc(50% - 50px);
    animation-name: pokemonGet;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}